@model IEnumerable<SmartReservation.Model.Reservation>
@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ========== MAIN ========== -->
<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Reservations</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Current</li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">All Reservations</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->
    </div>
    <div class="content container-fluid my-n9">
        <div class="row">
            @foreach (var item in Model.OrderBy(model => model.Time))
            {
                <div id="stickyBlockStartPoint" class="col-lg-4 mb-3 mb-lg-0" style="">
                    <div class="js-sticky-block" data-hs-sticky-block-options="{
                   &quot;parentSelector&quot;: &quot;#stickyBlockStartPoint&quot;,
                   &quot;breakpoint&quot;: &quot;lg&quot;,
                   &quot;startPoint&quot;: &quot;#stickyBlockStartPoint&quot;,
                   &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                   &quot;stickyOffsetTop&quot;: 20
                 }" style="">

                        <!-- End Row -->


                    <div class="card h-100">
                            <!-- Header -->
                        <div class="card-header" style="background-color:gold">
                                <h5 class="card-header-title">Information</h5>
                            </div>
                            <!-- End Header -->
                            <!-- Body -->
                        <div class="card-body" style="background-color:mintcream">
                                <dl class="row">
                                    <dt class="col-sm-3">Name</dt>
                                    <dd class="col-sm-9">@item.Name</dd>

                                    <dt class="col-sm-3">People</dt>
                                    <dd class="col-sm-9">@item.People</dd>

                                    <dt class="col-sm-3">Time</dt>
                                    <dd class="col-sm-9">@item.Time</dd>



                                    <dt class="col-sm-3">Phone</dt>
                                    <dd class="col-sm-9">@item.Cell</dd>

                                    @{
                                        var color = "";
                                        var status = "";
                                        if (item.ReservationStatusID == 1)
                                        {
                                            status = "Booked";
                                            color = "success";
                                        }
                                        else if (item.ReservationStatusID == 2)
                                        {
                                            status = "Complete";
                                            color = "danger";
                                        }
                                        else
                                        {
                                            status = "Arrived";
                                            color = "dark";
                                        }
                                    }
                                    <dt class="col-sm-3 text-truncate">Status</dt>
                                    <dd class="col-sm-9">
                                        <span class="badge bg-soft-@color text-@color">@status</span>
                                    </dd>
                                </dl>
                            </div>
                            <!-- End Body -->
                        <div class="card-footer">
                                <a href="@Url.Action("AdminUpdate","Reservation", new{reservationID = item.reservationID})" class="btn btn-primary">Edit</a>
                                <div class="hs-unfold">
                                    <a class="js-hs-unfold-invoker btn btn-primary" href="javascript:;" data-hs-unfold-options="{
                                            &quot;target&quot;: &quot;#@item.reservationID&quot;,
                                            &quot;type&quot;: &quot;css-animation&quot;
                                        }" data-hs-unfold-target="#@item.reservationID" data-hs-unfold-invoker="">
                                        Actions <i class="tio-chevron-down ml-1"></i>
                                    </a>

                                    <div id="@item.reservationID" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-hidden" data-hs-target-height="145.078" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
                                        <a class="ml-2" href="@Url.Action("AdminArrived","Reservation", new {reservationID =  item.reservationID, ReservationStatusID = 3} )"> Arrived
                                        </a>
                                        <br>
                                        <a class="ml-2" href="@Url.Action("AdminComplete","Reservation", new {reservationID =  item.reservationID, ReservationStatusID = 2} )">Complete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>



